* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.larguraPadrao {
    max-width: 1440px;
}

nav {
    background: black;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*Eixo Y */
    justify-content: space-between;
    width: 100%;
}

#navImg {
    width: 100px;
}

#navPrincipal img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

#navSearch input {
    width: 35vw;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}

#navButtons {
    width: 100px;
}

#navButtons i,
#navButtons p {
    font-size: 20px;
    color: white;
}

#navButtons i {
    font-size: 30px;
}

#navButtons button {
    border: 0px;
    background-color: black;
}

nav ul li a {
    color: white;
    font-size: 18px;
    padding: 31px 25px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover {
    color: lightgrey;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* Main */

.imagem-carrossel {
    object-fit: cover;
    height: 200px;
}


/* Page Tenis */

.title-page {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    height: 100px;
    font-size: 49px;
}


/* Produtos */

.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 150px;
    width: 100%
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.price {
    color: black;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.card button:hover {
    opacity: 0.7;
}

.nome-produto {
    text-transform: capitalize;
    font-size: 25px;
    color: black;
    text-align: left;
}

.card img {
    width: 221px;
    height: 221px;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.width1440 {
    width: 1440px;
}


/* Footer */

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodapeUm {
    max-width: 1440px;
    width: 100%;
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: flex-start;
}

.sobreGrmt p {
    font-size: 16px;
}

.infoLojas {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.infoLojas h5 {
    justify-content: start;
    color: white;
}

.infoLojas img {
    width: 120px;
}

footer {
    display: flex;
    margin-top: 70px;
    background-color: black;
    width: 100%;
    height: 350px;
}

.sobreGrmt img {
    width: 142px;
    height: 145px;
}

footer p {
    color: white;
    width: 250px;
}

.infoGrmt,
.sobreGrmt,
.infoLojas {
    width: 250px;
}

.infoGrmt {
    margin-top: 30px;
}

.infoGrmt img {
    justify-content: space-around;
    width: 20px;
    height: 20px;
}

.infoGrmt h6 {
    color: white;
}

.infoGrmt h5 {
    color: white;
}


/* Pages sac */

.bg-sac {
    width: 100%;
    height: 100px;
    background-color: #434141;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-sac {
    color: white;
}

.divisaoDunk {
    display: flex;
    align-items: center;
    justify-content: center;
}

.geralDunk {
    max-width: 1440px;
    width: 100%;
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: flex-start;
    margin-top: 100px;
}

.infoDunk h2 {
    font-size: 36px;
}

.infoDunk p {
    font-size: 20px;
    text-align: justify;
    max-width: 600px;
    min-width: 600px;
    font-weight: 300;
}

.sac-img img {
    width: 800px;
    height: 800px;
    opacity: 0.1;
    background-color: yellow;
    justify-content: end;
}

.sac-img {
    margin-top: -200px;
}

.divisaoPageProduto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.geralProduto {
    max-width: 1440px;
    width: 100%;
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: flex-start;
    margin-top: 100px;
}

.imagemProduto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagemLojas {
    display: flex;
    flex-direction: column;
}

#fotoProduto {
    width: 482px;
    height: 482px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    border-radius: 10px;
}

.imagemLojas img {
    max-width: 112px;
}

.infoProduto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

.infoProduto img {
    width: 140px;
}

.infoProduto h2 {}

.infoProduto p {
    font-weight: lighter;
    font-size: 20px;
}